@model Elite_Training_Club.Data.Entities.Plan

@{
    ViewData["Title"] = "Details";
}
<flash dismissable="true" />
<h1>Detalles</h1>

<div>
    <partial name="_PlanDetails"/>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
</div>
